@media screen and (max-width: 1280px) {
  .bottomsection-section {
    /*background-image: url(../images/bottomsection-bg.jpg);*/
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
  }
  .bottomsection-section .top-arrow {
    position: relative;
    padding-bottom: 100px;
    padding-top: 21px;
  }
  .bottomsection-section .top-arrow h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    padding-left: 33px;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
  .bottomsection-section .top-arrow h2 span {
    color: #d92819;
    font-size: 25px;
    display: block;
    text-align: justify;
    width: 100%;
    padding-top: 4px;
    word-spacing: 11px;
    letter-spacing: 0;
    margin-bottom: -2px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(1) {
    letter-spacing: 1.1rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(2) {
    letter-spacing: 0.6rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(3) {
    letter-spacing: 0.8rem;
    margin-right: -11px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(4) {
    letter-spacing: 0.8rem;
    margin-right: -5px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(5) {
    letter-spacing: 0.8rem;
    margin-right: -3px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(6) {
    letter-spacing: 0.7rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(7) {
    letter-spacing: 0.7rem;
    margin-right: -11px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(8) {
    letter-spacing: 0.7rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 span i:nth-child(9) {
    letter-spacing: 0.8rem;
    margin-right: -14px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(1) {
    letter-spacing: 0.3rem;
    margin-right: -4px;
    margin-left: -66px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(2) {
    letter-spacing: 0.6rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(3) {
    letter-spacing: 0.8rem;
    margin-right: -11px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(4) {
    letter-spacing: 0.8rem;
    margin-right: -5px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(5) {
    letter-spacing: 0.8rem;
    margin-right: -3px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(6) {
    letter-spacing: 0.7rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(7) {
    letter-spacing: 0.7rem;
    margin-right: -11px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(8) {
    letter-spacing: 0.7rem;
    margin-right: -4px;
  }
  .bottomsection-section .top-arrow h2 > i:nth-child(9) {
    letter-spacing: 0.8rem;
    margin-right: -14px;
  }
  .bottomsection-section .top-arrow:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    border-left: 50vw solid transparent;
    border-right: 49vw solid transparent;
    border-top: 111px solid white;
    z-index: 0;
    top: 52px;
  }
  .bottomsection-section .top-arrow:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    height: 52px;
    width: 100%;
    background-color: #fff;
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .managment-wrapp {
    padding: 0 6px 0 11px;
  }
}

@media screen and (max-width: 992px) {
  /*<<<title*/
  .title-wrapp .title-main .title-img {
    left: 46%;
  }
  .title-wrapp .title-main .title-img img {
    width: 1258px;
  }
  .title-wrapp .title-main .title-text span {
    font-size: 21.27rem;
    padding: 20px 98px 50px;
  }
  /*title>>>*/
  /*foot-callback*/
  .foot-contact-wrapp .fc-align .fc-img {
    left: 46.8%;
  }
  .foot-contact-wrapp .fc-align .fc-img img {
    width: 1304px;
  }
  .foot-contact-wrapp .fc-butt-wrapp a {
    text-decoration: none;
  }
  .foot-contact-wrapp .fc-butt-wrapp .fc-butt-img {
    position: relative;
  }
  .foot-contact-wrapp .fc-butt-wrapp .fc-butt-img img {
    margin-top: -11px;
    margin-left: -5px;
    width: 149px;
  }
  .foot-contact-wrapp .fc-butt-wrapp .fc-butt-text {
    position: absolute;
    top: 56px;
    left: -webkit-calc(50% - 57px);
    left: -moz-calc(50% - 57px);
    left: calc(50% - 57px);
    display: block;
  }
  .foot-contact-wrapp .fc-butt-wrapp .fc-butt-text span {
    font-size: 15.55rem;
    letter-spacing: 1.4rem;
  }
  .foot-contact-wrapp .fc-butt-wrapp .fc-butt-text .fc-butt-hover {
    width: 49px;
    height: 49px;
    background-color: #f2dc5e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -webkit-calc(50% + 7px);
    left: -moz-calc(50% + 7px);
    left: calc(50% + 7px);
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
  }
  .foot-contact-wrapp .fc-butt-wrapp .fc-butt-text:hover .fc-butt-hover {
    opacity: 1;
  }
  /*/footcallback*/
  /*<<<managment*/
  .mangment {
    margin-bottom: -4px;
  }
  .managment-wrapp .content-block {
    width: 70.5%;
    padding-top: 15px;
  }
  .managment-wrapp .content-block .content-item {
    padding-bottom: 25px;
  }
  .managment-wrapp .content-block .content-item .foto-box img {
    width: 126px;
  }
  .managment-wrapp .content-block .content-item.hayruliun {
    padding-bottom: 0px;
  }
  .managment-wrapp .content-block .content-item.hayruliun .foto-box {
    padding-top: 6px;
  }
  .managment-wrapp .content-block .content-item .text-box {
    padding-top: 2px;
    margin-left: 142px;
  }
  .managment-wrapp .content-block .content-item .text-box .text-title {
    padding-bottom: 12px;
  }
  .managment-wrapp .content-block .content-item .text-box .text-title span {
    font-size: 16rem;
  }
  .managment-wrapp .content-block .content-item .text-box .text-title2 span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 12rem;
    color: #546472;
  }
  .managment-wrapp .content-block .content-item .text-box .text-body {
    padding: 0;
  }
  .managment-wrapp .content-block .content-item .text-box .text-body p {
    font-size: 11rem;
    line-height: 16px;
  }
  .managment-wrapp .content-block .content-item .text-box .text-body i {
    font-size: 11rem;
  }
  .menu-block .menu-align {
    padding: 15px 0 0;
  }
  .menu-block .menu-align .menu-title {
    padding-bottom: 3px;
  }
  .menu-block .menu-align .menu-title span {
    font-size: 16rem;
  }
  .menu-block .menu-align .menu-item ul li {
    padding-bottom: 3px;
  }
  .menu-block .menu-align .menu-item ul li a span {
    font-size: 14rem;
  }
  /*managment>>>*/
  /*<<<company*/
  .managment-wrapp.company .content-block {
    padding: 14px 0 4px;
  }
  .managment-wrapp.company .content-block .content-item {
    padding-bottom: 14px;
  }
  /*company>>>*/
  /*<<<price*/
  .managment-wrapp.price {
    margin-bottom: -5px;
  }
  .managment-wrapp.price .content-block {
    padding-top: 13px;
  }
  .managment-wrapp.price .content-block .content-item {
    padding-bottom: 12px;
  }
  .managment-wrapp.price .content-block .content-item .text-box .text-body {
    padding: 5px 0 0 14px;
  }
  /*price>>>*/
}

@media screen and (max-width: 666px) {
  .managment-wrapp .content-block {
    width: 100%;
  }
}
