@media screen and (max-width: 1366px) {
  .functional-index {
    padding-bottom: 17px;
  }
}

@media screen and (max-width: 1280px) {
  .specialization-main .parallax img {
    -webkit-transform: translate(-50%, -7%);
    -moz-transform: translate(-50%, -7%);
    -ms-transform: translate(-50%, -7%);
    -o-transform: translate(-50%, -7%);
    transform: translate(-50%, -7%);
  }
  .specialization {
    padding: 0px 0 58px 0;
  }
  .specialization .text-title-wrap {
    top: 0;
    padding-top: 92px;
    margin-bottom: 53px;
  }
  .parallax img {
    -webkit-transform: translate(-50%, 11%);
    -moz-transform: translate(-50%, 11%);
    -ms-transform: translate(-50%, 11%);
    -o-transform: translate(-50%, 11%);
    transform: translate(-50%, 11%);
  }
  .doneproject-section .parallax img {
    -webkit-transform: translate(-50.1%, -2%);
    -moz-transform: translate(-50.1%, -2%);
    -ms-transform: translate(-50.1%, -2%);
    -o-transform: translate(-50.1%, -2%);
    transform: translate(-50.1%, -2%);
  }
  /* functional-way index */
  .functional-index {
    padding-bottom: 0px;
    padding-top: 55px;
  }
  .functional-index .text-title-wrap {
    margin-bottom: 58px;
  }
  .functional-index .functional-way-col {
    margin: 0;
  }
  .functional-index .functional-way-col .functional-way-title {
    height: 70px;
  }
  .functional-index .functional-way-col .functional-way-title > span, .functional-index .functional-way-col .functional-way-title > a {
    padding: 7px 0 0 9px;
    line-height: 1.12;
    letter-spacing: -0.4rem;
    -webkit-transition: padding 300ms ease, letter-spacing 300ms ease;
    -moz-transition: padding 300ms ease, letter-spacing 300ms ease;
    -o-transition: padding 300ms ease, letter-spacing 300ms ease;
    transition: padding 300ms ease, letter-spacing 300ms ease;
  }
  .functional-index .functional-way-col:nth-child(1) {
    width: 236px;
    margin-right: 18px;
  }
  .functional-index .functional-way-col:nth-child(2) {
    width: 237px;
    margin-right: 15px;
  }
  .functional-index .functional-way-col:nth-child(2) .functional-way-list li a {
    line-height: 17px;
  }
  .functional-index .functional-way-col:nth-child(2) .functional-way-list li:nth-child(2) {
    margin-top: -2px;
  }
  .functional-index .functional-way-col:nth-child(2) .functional-way-list li:nth-child(2) a {
    line-height: 1.7;
  }
  .functional-index .functional-way-col:nth-child(2) .functional-way-list li:nth-child(3) a {
    padding-top: 0px;
  }
  .functional-index .functional-way-col:nth-child(3) {
    width: 223px;
    margin-right: 23px;
  }
  .functional-index .functional-way-col:nth-child(3) .functional-way-title span {
    letter-spacing: -1.5rem;
    padding-top: 8px;
  }
  .functional-index .functional-way-col:nth-child(4) {
    width: 236px;
  }
  .functional-index .functional-way-col:nth-child(4) .functional-way-title span {
    letter-spacing: -1.45rem;
    padding-top: 8px;
  }
  .functional-index .functional-way-col:hover:before {
    background-color: rgba(227, 233, 237, 0.65);
  }
  .functional-index .functional-way-col:hover .functional-way-title span {
    padding: 9px 9px 0 9px;
    letter-spacing: -1.47rem;
  }
  .functional-index .functional-way-col:hover .functional-way-list li a {
    padding: 4rem 7rem 3.3rem 5rem;
  }
  .functional-index .functional-way-list {
    padding-top: 9px;
  }
  .functional-index .functional-way-list li a {
    padding: 4rem 0rem 3.3rem 9rem;
    -webkit-transition: padding 300ms ease;
    -moz-transition: padding 300ms ease;
    -o-transition: padding 300ms ease;
    transition: padding 300ms ease;
    line-height: 16px;
  }
  /* /functional-way index */
  /* specialization */
  .specialization .text-title-wrap {
    margin-bottom: 55px;
  }
  .specialization .text-title-wrap .text-title span {
    margin-left: -12px;
  }
  .specialization-wrap {
    margin: 0 76px;
    text-align: left;
  }
  .specialization-wrap li {
    width: 196px;
    padding: 0;
    margin-right: 16px;
  }
  .specialization-wrap li a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
    height: 72px;
  }
  .specialization-wrap li a:hover:before {
    left: -15px;
    top: -5px;
    bottom: -5px;
    right: -9px;
  }
  .specialization-wrap li a span {
    display: block;
  }
  .specialization-wrap li:nth-child(4n), .specialization-wrap li:last-child {
    margin-right: 0;
  }
  .specialization-wrap li:nth-child(1) a span {
    letter-spacing: 1.6rem;
    padding: 12px 0 13px 0;
  }
  .specialization-wrap li:nth-child(2) a span {
    letter-spacing: 1.6rem;
  }
  .specialization-wrap li:nth-child(3) a span {
    letter-spacing: 1.5rem;
    margin-left: -10px;
  }
  .specialization-wrap li:nth-child(4) a span {
    letter-spacing: 1.5rem;
    margin-left: -10px;
  }
  .specialization-wrap li:nth-child(5) a span {
    letter-spacing: 1.36rem;
    margin-top: -2px;
  }
  .specialization-wrap li:nth-child(6) {
    margin-right: 13px;
  }
  .specialization-wrap li:nth-child(6) a span {
    letter-spacing: 1.5rem;
    margin-left: -3px;
    padding-top: 20px;
  }
  .specialization-wrap li:nth-child(7) a span {
    letter-spacing: 1.15rem;
    white-space: nowrap;
    margin-left: -5px;
    padding-top: 20px;
  }
  .specialization-wrap li:nth-child(8) {
    margin-top: -2px;
  }
  .specialization-wrap li:nth-child(8) a span {
    letter-spacing: 1.5rem;
    margin-left: -9px;
    padding-top: 23px;
  }
  .specialization-wrap li:nth-child(9) {
    margin-left: 213px;
    margin-top: -4px;
  }
  .specialization-wrap li:nth-child(9) a span {
    padding-top: 23px;
    letter-spacing: 1.3rem;
    margin-left: 5px;
  }
  .specialization-wrap li:nth-child(10) {
    margin-top: -4px;
  }
  .specialization-wrap li:nth-child(10) a span {
    padding-top: 23px;
    letter-spacing: 1.5rem;
    margin-left: -10px;
  }
  /* /specialization */
  /* doneproject */
  .doneproject-section .doneproject-body {
    padding-bottom: 2px;
  }
  .doneproject-section .doneproject-body .slick-prev.slick-arrow {
    top: 64px;
    left: -40px;
  }
  .doneproject-section .doneproject-body .slick-next.slick-arrow {
    right: -41px;
    top: 63px;
  }
  .doneproject-section .doneproject-body .doneproject-slider {
    padding-top: 67px;
    width: 92%;
    padding-bottom: 4px;
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject {
    position: relative;
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject .text-wrap {
    padding-left: 4px;
    width: 165px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject .text-wrap p {
    letter-spacing: 0.802rem;
    line-height: 15px;
    margin-top: 1px;
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject.second-slide {
    padding-left: 14px;
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject.second-slide .text-wrap {
    right: 6px;
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject.third-slide {
    padding-right: 10px;
  }
  .doneproject-section .doneproject-body .doneproject-slider .doneproject.third-slide .text-wrap {
    right: 14px;
  }
  /* /doneproject */
}

@media screen and (max-width: 768px) {
  .rectange .rectange-img-wrap {
    width: 90px;
    height: 80px;
  }
  .rectange .rectange-img {
    width: 44px;
    height: 78px;
    left: 30px;
    top: 0;
  }
  .rectange .rectange-img.second-layer, .rectange .rectange-img.third-layer {
    height: 78px;
    width: 44px;
    top: 0px;
    left: 30px;
  }
  .rectange .rectange-img .first-layer-wrap, .rectange .rectange-img .second-layer-wrap, .rectange .rectange-img .third-layer-wrap {
    width: 44px;
    height: 78px;
  }
  .rectange .rectange-img:before {
    width: 118%;
    top: -5px;
    height: 1px;
  }
  .rectange .rectange-img:after {
    width: 118%;
    left: 50%;
    bottom: -5px;
    height: 1px;
  }
}
