@media screen and (max-width: 1024px) {
  .header {
    position: relative;
  }
  .header .mbox {
    position: static;
  }
  .header_wrap .header_logo {
    max-width: 30%;
    text-align: center;
  }
  .header_wrap .header_logo a {
    display: inline-block;
  }
  .header_wrap > div {
    float: left;
  }
  .header_wrap .header-nav {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 80px;
    float: none;
    display: none;
  }
  .header_wrap .header_leng {
    position: absolute;
    top: 0;
    right: 7%;
  }
  .header_wrap .header_leng:after {
    height: 78%;
  }
  .header_wrap .sendwich-icon {
    width: 30rem;
    height: 30rem;
    cursor: pointer;
    position: absolute;
    right: 15rem;
    top: -webkit-calc(50% - 12.5rem);
    top: -moz-calc(50% - 12.5rem);
    top: calc(50% - 12.5rem);
    display: block;
  }
  .header_wrap .sendwich-icon.active span {
    background-color: transparent;
  }
  .header_wrap .sendwich-icon.active span:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 2rem;
    top: 9rem;
  }
  .header_wrap .sendwich-icon.active span:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 2rem;
    top: -12rem;
  }
  .header_wrap .sendwich-icon span {
    display: inline-block;
    width: 100%;
    height: 4rem;
    background-color: #000;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    position: relative;
  }
  .header_wrap .sendwich-icon span:after, .header_wrap .sendwich-icon span:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 4rem;
    background-color: #000;
    left: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: left 300ms ease, -webkit-transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;
    -moz-transition: left 300ms ease, -moz-transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;
    -o-transition: left 300ms ease, -o-transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;
    transition: left 300ms ease, transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;
  }
  .header_wrap .sendwich-icon span:after {
    top: -9rem;
  }
  .header_wrap .sendwich-icon span:before {
    bottom: -9rem;
  }
  .header_wrap .header-nav ul > li {
    width: 100%;
    float: none;
    border-bottom: none;
    background-color: #f2dc5e;
    display: block;
  }
  .header_wrap .header-nav ul > li.active {
    border-bottom: none;
  }
  .header_wrap .header-nav ul > li:hover {
    background-color: #fff;
  }
  .header_wrap .header-nav ul > li a {
    display: block;
    padding: 6px 0px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .header_wrap .header-nav .next {
    position: relative;
    top: 0;
  }
  .header_wrap .header-nav .next li {
    padding: 0;
    text-align: center;
  }
  .header_wrap .header-nav .next li .next {
    position: relative;
    left: 0;
    top: 0;
  }
  .header_wrap .header-nav .next li.arrow-next:after {
    display: none;
  }
  .header_wrap .arrow-next a span {
    position: relative;
  }
  .header_wrap li.arrow-next > a span:after {
    position: absolute;
    width: 8px;
    height: 16px;
    right: -18px;
    top: 3px;
    background: url("../images/head_arrow.png") center center no-repeat;
    content: '';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .header_wrap .header_right {
    width: 56%;
  }
  .header_wrap .header_right .header_tel {
    padding-left: 0;
  }
  .header_wrap .header_right .header_button {
    padding-left: 0;
    padding-top: 15px;
  }
  .header_wrap .header_right .header_button a {
    padding: 6px 2px;
    font-size: 12px;
  }
  .header_wrap .header_right .header_tel_row {
    width: 33%;
    float: left;
  }
}

@media screen and (max-width: 992px) {
  .header_wrap .header_logo img {
    max-width: 100%;
  }
  .header_wrap .header_logo {
    width: 19%;
  }
  .header_wrap .header_right {
    width: 63%;
    padding: 0 2%;
  }
  .header_wrap .header_right .header_button {
    padding-top: 8px;
  }
  .header_wrap .header_right .header_tel_row {
    text-align: center;
  }
  .header_wrap .header_leng a {
    font-size: 12px;
    padding-top: 13px;
  }
  .header_wrap .header_leng li {
    float: none;
    width: 100%;
    padding-top: 0;
  }
  .header_wrap .header_leng:after {
    display: none;
  }
  .header_wrap .header_leng {
    top: 0px;
    right: 10%;
  }
  .footer .grey_blog .grey_blog_text_wrap {
    text-align: center;
  }
  .footer .footer-blog-wrap .copywriting {
    text-align: center;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side {
    float: none;
    width: 100%;
    text-align: center;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side ul {
    padding: 0;
    padding-top: 10px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li {
    float: none;
    display: inline-block;
  }
  .footer .footer-blog-wrap {
    padding-top: 60px;
  }
  .top_section_wrap .top_title {
    padding-right: 4%;
  }
}

@media screen and (max-width: 666px) {
  .header_wrap .header_logo {
    width: 100%;
    max-width: 100%;
  }
  .header_wrap .header_right {
    width: 100%;
    padding: 0 1% 6%;
  }
  .header_wrap .sendwich-icon {
    position: relative;
    float: right;
  }
  .header_wrap {
    padding-bottom: 6%;
  }
  .header_wrap .header-nav {
    top: 100%;
  }
  .header_wrap .header_leng {
    bottom: 20px;
    right: auto;
    top: auto;
    left: 19px;
  }
  .footer .footer-blog-wrap {
    padding-top: 50px;
  }
  .header_wrap .header_leng a {
    padding-top: 6px;
    padding-bottom: 4px;
  }
  .top_section_wrap .top_section_bottom .top_section_item {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .top_section_wrap {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .top_section_wrap .top_title {
    padding: 50px 2% 0px;
    text-align: center;
  }
  .top_section_wrap .top_section_bottom {
    padding-top: 43px;
  }
  .footer .grey_blog .grey_blog_text_wrap span {
    display: block;
    margin-right: 0;
  }
  .footer .grey_blog .grey_blog_text_wrap .grey_blog_button {
    display: block;
    text-align: center;
    padding-top: 36px;
  }
  .footer .grey_blog .grey_blog_text_wrap .grey_blog_button a {
    display: inline-block;
  }
}

@media screen and (max-width: 479px) {
  .footer .footer-blog-wrap .footer-blog-middle-side li {
    padding-right: 9px;
    margin: 0 -1px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li:after {
    right: 2px;
  }
}

@media screen and (max-width: 320px) {
  .top_section_wrap .top_title .subtitle {
    font-size: 12px;
    line-height: 20px;
  }
  .top_section_wrap .top_title h2 {
    font-size: 34px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li {
    padding-right: 4px;
    margin: 0 -3px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li:after {
    display: none;
  }
  .header_wrap .header_leng {
    bottom: 13px;
  }
}
