@media screen and (max-width: 1366px) {
  .aboutus-section:after {
    border-width: 0 430px 52px 0;
    top: -1px;
  }
  .petro-img .petro-wrapp .petro-align:after {
    border-width: 0 0 52px 430px;
    top: -8px;
  }
  .doneproject-section .doneproject-title-wrap .doneproject-title {
    margin-right: 90px;
  }
  .clients-wrapp {
    padding-bottom: 19px;
  }
  .aboutus-section .aboutus-title-wrap .aboutus-title {
    margin-right: 636px;
  }
}

@media screen and (max-width: 1024px) {
  .wrap-content .wrap-top-city .nav-box-wrap {
    right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .wrap-content .wrap-top-city .convert-city-box .convert-city .image-box img {
    height: 320px;
    min-width: 768px;
  }
  .wrap-content .wrap-top-city .convert-city-box {
    height: 325px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup {
    margin: 0;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup {
    padding: 13px 7px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup h1 {
    font-size: 13px;
    margin-bottom: 0;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form {
    max-width: 678px;
    margin: 0 -webkit-calc(50% - 678px/2);
    margin: 0 -moz-calc(50% - 678px/2);
    margin: 0 calc(50% - 678px/2);
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-left p {
    font-size: 13px;
    padding-top: 5px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-left {
    width: 28.3%;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-right input {
    font-size: 13px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-right {
    width: 71%;
    padding-top: 2px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .letter-online-wrap-submit button {
    margin-right: -7%;
    width: 145px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-left p {
    margin-bottom: 13px;
  }
  #letter-online .letter-online-popup form .letter-online-wrap-submit button:before {
    font-size: 13px;
  }
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup form .letter-online-wrap-submit button span {
    font-size: 13px;
    padding-left: 3px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box .context-box p {
    font-size: 11px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box {
    min-width: 210px;
    min-height: 173px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .nav-box .tread-box p {
    font-size: 22px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .box-line-kazan {
    top: 45px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box .context-kazan {
    padding-top: 44px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box .context-box p {
    line-height: 19px;
    padding-left: 10px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .box-line-london {
    top: 73px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box .context-london {
    padding-top: 75px;
  }
}

@media screen and (max-width: 479px) {
  .wrap-content .wrap-bot-form #letter-online .letter-online-popup h1 {
    text-align: justify;
  }
  #letter-online .letter-online-popup form .atribute .convert-left {
    width: 100%;
    float: none;
  }
  #letter-online .letter-online-popup form .atribute .convert-left p {
    text-align: center;
  }
  #letter-online .letter-online-popup form .atribute .convert-right {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  #letter-online .letter-online-popup p {
    margin-bottom: 6px;
  }
  #letter-online .letter-online-popup form .letter-online-wrap-submit button {
    width: 90%;
    margin: 0 auto;
  }
  #letter-online .letter-online-popup form .letter-online-wrap-submit {
    text-align: center;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box .context-box p {
    font-size: 10px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box {
    min-width: 230px;
  }
}

@media screen and (max-width: 419px) {
  .wrap-content .wrap-top-city .nav-box-wrap .context-box {
    min-width: 160px;
  }
  .wrap-content .wrap-top-city .nav-box-wrap .context-box {
    padding-right: 10px;
  }
}
