@media screen and (max-width: 1280px) {
  /* */
  .parallaxmin img {
    display: none;
  }
  .parallaxmin img.top_section_1280 {
    display: block;
  }
  /* */
  /* footer */
  .footer .grey_blog {
    padding: 2px 0 4px 0;
  }
  .footer .grey_blog .grey_blog_text_wrap .footer-fix {
    word-spacing: -0.5rem;
  }
  .footer .grey_blog .grey_blog_text_wrap .footer-fix span {
    letter-spacing: -0.5rem;
    margin-right: 0;
  }
  /* /footer */
}

@media screen and (max-width: 1024px) {
  .header_wrap {
    display: table;
    width: 100%;
    min-height: auto;
  }
  .header_wrap > div {
    display: table-cell;
    vertical-align: top;
  }
  .header_wrap .header_logo {
    width: 29%;
  }
  .header_wrap .header_logo img {
    max-width: 52%;
  }
  .header_wrap .header-nav {
    width: 43%;
    vertical-align: bottom;
    font-family: 'Tahoma';
    font-size: 11px;
  }
  .header_wrap .header-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header_wrap .header-nav ul > li {
    width: 16.5%;
    float: left;
    border-bottom: 4px solid transparent;
    text-align: center;
  }
  .header_wrap .header-nav ul > li.active {
    border-bottom: 4px solid #f2dc5e;
  }
  .header_wrap .header-nav ul a {
    font-size: 11rem;
  }
  .header_wrap .header-nav .next {
    top: 17px;
    min-width: 190px;
  }
  .header_wrap .header-nav .next li.arrow-next:after {
    position: absolute;
    width: 8px;
    height: 16px;
    right: 3px;
    top: 5px;
    background: url("../images/head_arrow.png") center center no-repeat;
    content: '';
  }
  .header_wrap .header-nav .next li {
    float: none;
    width: 100%;
    border-bottom: none;
    text-align: left;
    padding: 6px 5px;
    background-color: #f2dc5e;
  }
  .header_wrap .header-nav .next li:hover {
    background-color: white;
  }
  .header_wrap .header-nav .next li .next {
    left: 100%;
    min-width: 200px;
    top: -4px;
  }
  .header_wrap .header_leng {
    width: 7%;
    vertical-align: top;
    position: relative;
  }
  .header_wrap .header_leng:after {
    position: absolute;
    height: 37%;
    right: 48.4%;
    top: 0;
    border-right: 2px dotted #546472;
    content: '';
    z-index: 2;
  }
  .header_wrap .header_leng ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .header_wrap .header_leng li {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
  }
  .header_wrap .header_leng li.active a {
    color: #d92819;
  }
  .header_wrap .header_leng li:hover {
    background-color: #f2dc5e;
  }
  .header_wrap .header_leng li:hover a {
    color: #000;
  }
  .header_wrap .header_leng a {
    font-size: 8px;
    padding-bottom: 3px;
    padding-top: 9px;
  }
  .header_wrap .header_right {
    width: 21%;
  }
  .header_wrap .header_right .header_tel_row {
    font-size: 8rem;
    color: #000;
  }
  .header_wrap .header_right .header_tel_row .icon {
    width: 13px;
    height: 8px;
    display: inline-block;
    background: url(../images/moscow.png) center center no-repeat;
    margin-right: 2px;
  }
  .header_wrap .header_right .header_tel_row .icon.kazan {
    background-image: url(../images/kazan.png);
  }
  .header_wrap .header_right .header_tel_row .icon.london {
    background-image: url(../images/london.png);
  }
  .header_wrap .header_right .header_tel_row a {
    font-size: 8px;
  }
  .header_wrap .header_right .header_tel {
    padding-left: 16%;
    padding-top: 5px;
  }
  .header_wrap .header_right .header_button {
    text-align: center;
    padding-top: 6px;
    padding-left: 12%;
  }
  .header_wrap .header_right .header_button a {
    width: 48%;
    display: inline-block;
    color: #485762;
    font-size: 6rem;
    padding: 3px 2px;
  }
  .header_wrap .sendwich-icon {
    display: none;
  }
  /*top section*/
  .top_section_wrap {
    min-height: 440px;
    background: url("../images/top_section_768.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .top_section_wrap .top_title {
    text-align: right;
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.72);
    padding-top: 40px;
  }
  .top_section_wrap .top_title h2 {
    font-size: 29px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }
  .top_section_wrap .top_title .subtitle {
    font-size: 11px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.95);
    padding-top: 11px;
    line-height: 18px;
  }
  .top_section_wrap .top_section_bottom {
    padding-top: 90px;
  }
  .top_section_wrap .top_section_bottom .top_section_item {
    float: left;
    width: 25%;
  }
  .top_section_wrap .top_section_bottom .top_section_item_wrap {
    width: 115px;
    height: 115px;
    margin: 0 auto;
    background-color: rgba(250, 250, 250, 0.6);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
  }
  .top_section_wrap .top_section_bottom .top_section_item_top b, .top_section_wrap .top_section_bottom .top_section_item_top span {
    color: #d92819;
    font-weight: 900;
    font-family: "Open sans",sans-serif;
    font-size: 16px;
  }
  .top_section_wrap .top_section_bottom .top_section_item_top b {
    font-size: 31px;
  }
  .top_section_wrap .top_section_bottom .top_section_item_top {
    padding-top: 16px;
  }
  .top_section_wrap .top_section_bottom .top_section_item_bottom {
    font-family: 'Tahoma';
    font-size: 11px;
    font-weight: 500;
  }
  .top_section_wrap .top_section_bottom .top_section_item_wrap {
    position: relative;
  }
  .top_section_wrap .top_section_bottom .top_section_item_wrap:after {
    height: 125px;
    width: 125px;
    position: absolute;
    top: -7px;
    right: -7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(250, 250, 250, 0.6);
    content: '';
  }
  .top_section_wrap .top_section_bottom .top_section_item_wrap:hover {
    background-color: #fff;
  }
  .top_section_wrap .top_section_bottom .top_section_item_wrap:hover:after {
    border: 2px solid white;
  }
  .top_section_wrap .top_section_button {
    text-align: center;
    padding-top: 0px;
    margin-top: -10px;
  }
  .top_section_wrap .top_section_button .top_section_button_wrap {
    height: 54px;
    width: 54px;
    border: 1px solid #f2dc5e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-top: -17px;
  }
  .top_section_wrap .top_section_button .top_section_button_wrap:hover a {
    height: 47px;
    width: 47px;
    margin-top: 5px;
    padding-top: 16px;
  }
  .top_section_wrap .top_section_button a {
    text-decoration: none;
    font-size: 10px;
    color: #000;
    background-color: #f2dc5e;
    height: 38px;
    width: 38px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding-top: 10px;
    margin-top: 7px;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
  }
  .top_section_wrap .top_section_button a span {
    position: relative;
    z-index: 1;
  }
  .top_section_wrap .top_section_button a span:after {
    position: absolute;
    content: '';
    height: 58px;
    left: 50%;
    top: 50%;
    border: 1px dotted #95abc2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .top_section_wrap .top_section_button a span b {
    position: relative;
    z-index: 2;
    display: inline-block;
    background-color: #f2dc5e;
    font-weight: normal;
  }
}

@media screen and (max-width: 992px) {
  .footer .grey_blog .grey_blog_text_wrap {
    text-align: center;
  }
  .footer .footer-blog-wrap .copywriting {
    text-align: center;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side {
    float: none;
    width: 100%;
    text-align: center;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side ul {
    padding: 0;
    padding-top: 10px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li {
    float: none;
    display: inline-block;
  }
  .footer .footer-blog-wrap {
    padding-top: 60px;
  }
  .top_section_wrap .top_title {
    padding-right: 1%;
  }
  .projects_item_row .projects_items_text {
    padding-left: 3px;
  }
  .projects_item_row a {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .projects_items {
    text-align: center;
  }
  .projects_item_row .projects_items_img {
    width: 100%;
    display: inline-block;
  }
  .projects_item_row .projects_items_text {
    width: 100%;
    display: inline-block;
    padding-left: 0;
    padding-top: 10px;
  }
}

@media screen and (max-width: 666px) {
  .top_section_wrap .top_section_bottom .top_section_item {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .top_section_wrap {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .top_section_wrap .top_title {
    padding: 50px 2% 0px;
    text-align: center;
  }
  .top_section_wrap .top_section_bottom {
    padding-top: 43px;
  }
  .footer .grey_blog .grey_blog_text_wrap span {
    display: block;
    margin-right: 0;
  }
  .footer .grey_blog .grey_blog_text_wrap .grey_blog_button {
    display: block;
    text-align: center;
    padding-top: 36px;
  }
  .footer .grey_blog .grey_blog_text_wrap .grey_blog_button a {
    display: inline-block;
  }
  #letter-online .letter-online-popup form .atribute .convert-left p {
    margin-right: 0;
    text-align: center;
    font-size: 15px;
    margin-bottom: 7px;
  }
  #letter-online .letter-online-popup form .atribute .convert-left {
    float: none;
    width: 100%;
  }
  #letter-online .letter-online-popup form .atribute .convert-right {
    float: none;
    width: 100%;
  }
  #letter-online .letter-online-popup form .atribute .convert-right textarea, #letter-online .letter-online-popup form .atribute .convert-right input {
    padding: 6px;
    font-size: 14px;
  }
  #letter-online .letter-online-popup .subtitle {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
  #letter-online .letter-online-popup form .letter-online-wrap-submit {
    text-align: center;
  }
  #letter-online .letter-online-popup form .letter-online-wrap-submit button {
    width: auto;
  }
  #call-popup {
    padding: 20px;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .footer .footer-blog-wrap .footer-blog-middle-side li {
    padding-right: 9px;
    margin: 0 -1px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li:after {
    right: 2px;
  }
  .projects_item_row .projects_items {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 31px;
  }
  .projects_item_row {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .top_section_wrap .top_title .subtitle {
    font-size: 12px;
    line-height: 20px;
  }
  .top_section_wrap .top_title h2 {
    font-size: 34px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li {
    padding-right: 4px;
    margin: 0 -3px;
  }
  .footer .footer-blog-wrap .footer-blog-middle-side li:after {
    display: none;
  }
  .header_wrap .header_leng {
    bottom: 13px;
  }
}
