#call-popup {
  padding: 40px;
  max-width: 800px;
  background-color: #d7dfe4;
  min-width: 500px;
  min-height: 350px;
  z-index: 2;
}

#call-popup .call-popup {
  position: relative;
}

#call-popup .call-popup p {
  text-align: center;
  color: #000;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}

#call-popup .call-popup .callback-form {
  width: 100%;
  padding: 10px;
  font-size: 17px;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .add-row-for-time {
  display: none;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .errorText {
  display: none !important;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row input {
  border: none;
  background-color: #fff;
  font-family: 'Tahoma', sans-serif;
  font-size: 17px;
  width: 100%;
  padding: 5px;
  border: 1px solid transparent;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row input.error {
  border: 1px solid #f00;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row input:focus {
  outline: none;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .jq-selectbox li:hover {
  background-color: #b0bdc8 !important;
  color: #FFF !important;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .select-wrap {
  width: 100%;
  background: black;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .select-wrap .jq-selectbox__select {
  background: white;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-right: 5px;
  border: 1px solid transparent;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .select-wrap .jq-selectbox__select .jq-selectbox__trigger {
  display: none;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .select-wrap .jq-selectbox__select .jq-selectbox__select-text {
  font-size: 17px;
  color: #000;
  font-family: 'Tahoma', sans-serif;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .select-wrap select {
  padding: 5px;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .form-wrap-row .select-wrap select.error + .jq-selectbox__select {
  border: 1px solid #f00;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .submit {
  float: left;
  width: 60%;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .submit button {
  width: 100%;
  background-color: #b0bdc8;
  text-transform: uppercase;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  width: 100%;
  cursor: pointer;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows .submit button:hover, #call-popup .call-popup .callback-form .form-wrap-for-rows .submit button:active, #call-popup .call-popup .callback-form .form-wrap-for-rows .submit button:focus, #call-popup .call-popup .callback-form .form-wrap-for-rows .submit button:visited {
  outline: none;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
  float: right;
  color: black;
  cursor: pointer;
  padding: 1px 0;
  background-color: #b0bdc8;
  text-decoration: none;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows a .no-submit {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows a .no-submit .form-input {
  background-color: #b0bdc8;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

#call-popup .call-popup .callback-form .form-wrap-for-rows a:hover, #call-popup .call-popup .callback-form .form-wrap-for-rows a:active {
  outline: none;
}

#call-popup .call-popup .call-success {
  position: absolute;
  vertical-align: top;
  top: 30%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  -o-transition: -o-transform 500ms ease, opacity 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease, opacity 1000ms ease;
  -moz-transition: -moz-transform 500ms ease, opacity 1000ms ease;
  -ms-transition: transform 500ms ease, opacity 1000ms ease;
}

#call-popup .call-popup .call-success .call_success {
  min-width: 300px;
  max-width: 475px;
  width: 80%;
  margin: 0 auto;
  background-color: #f2dc5e;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.fancybox-inner {
  overflow: visible !important;
}

#letter-online .letter-online-popup {
  width: 100%;
  max-width: 710px;
  background-color: #d7dfe4;
  padding: 20px;
}

#letter-online .letter-online-popup p {
  text-align: center;
  color: #000;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}

#letter-online .letter-online-popup .subtitle {
  font-size: 11px;
  font-family: "Tahoma", sans-serif;
  padding-bottom: 20px;
  display: block;
  font-weight: 600;
}

#letter-online .letter-online-popup form .atribute {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#letter-online .letter-online-popup form .atribute .convert-left {
  display: block;
  width: 28%;
  float: left;
}

#letter-online .letter-online-popup form .atribute .convert-left p {
  margin-right: 10px;
  font-size: 12px;
  font-family: "Tahoma", sans-serif;
  text-align: right;
}

#letter-online .letter-online-popup form .atribute .convert-right {
  display: block;
  float: right;
  width: 70%;
}

#letter-online .letter-online-popup form .atribute .convert-right textarea, #letter-online .letter-online-popup form .atribute .convert-right input {
  font-size: 20px;
  width: 100%;
  font-size: 12px;
  font-family: "Tahoma", sans-serif;
  border: 1px solid transparent;
  resize: none;
}

#letter-online .letter-online-popup form .atribute .convert-right textarea.error, #letter-online .letter-online-popup form .atribute .convert-right input.error {
  border: 1px solid red;
}

#letter-online .letter-online-popup form .atribute .convert-right textarea:focus, #letter-online .letter-online-popup form .atribute .convert-right input:focus {
  outline: none;
}

#letter-online .letter-online-popup form .atribute .convert-right .errorText {
  display: none !important;
}

#letter-online .letter-online-popup form .letter-online-wrap-submit {
  text-align: right;
}

#letter-online .letter-online-popup form .letter-online-wrap-submit button {
  width: 35%;
  background-color: #b0bdc8;
  text-transform: uppercase;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#letter-online .letter-online-popup form .letter-online-wrap-submit button:before {
  content: '>';
  font-size: 20px;
}

#letter-online .letter-online-popup form .letter-online-wrap-submit button:hover, #letter-online .letter-online-popup form .letter-online-wrap-submit button:active, #letter-online .letter-online-popup form .letter-online-wrap-submit button:focus, #letter-online .letter-online-popup form .letter-online-wrap-submit button:visited {
  outline: none;
}

#letter-online .letter-online-popup .call-success {
  position: absolute;
  vertical-align: top;
  top: 30%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  -o-transition: -o-transform 500ms ease, opacity 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease;
  -webkit-transition: -webkit-transform 500ms ease, opacity 1000ms ease;
  -moz-transition: -moz-transform 500ms ease, opacity 1000ms ease;
  -ms-transition: transform 500ms ease, opacity 1000ms ease;
}

#letter-online .letter-online-popup .call-success .call_success {
  min-width: 300px;
  max-width: 475px;
  width: 80%;
  margin: 0 auto;
  background-color: #f2dc5e;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.wrap-content {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.wrap-content .wrap-top-city {
  position: relative;
}

.wrap-content .wrap-top-city .convert-city-box {
  background-color: #f2dc5e;
  overflow: hidden;
  width: 100%;
  height: 495px;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city {
  position: relative;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city .image-box {
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city .image-box img {
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  height: 495px;
  min-width: 1920px;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city .moskow-img {
  z-index: 0;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city .kazan-img {
  z-index: 0;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city .london-img {
  z-index: 0;
}

.wrap-content .wrap-top-city .convert-city-box .convert-city .active-img {
  z-index: 2;
  opacity: 1;
}

.wrap-content .wrap-top-city .mbox {
  margin: 0 auto;
}

.wrap-content .wrap-top-city .nav-box-wrap {
  position: absolute;
  z-index: 3;
  top: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: -webkit-calc(50% - 450px);
  right: -moz-calc(50% - 450px);
  right: calc(50% - 450px);
}

.wrap-content .wrap-top-city .nav-box-wrap .box-line {
  position: relative;
  border-bottom: 1px dotted white;
  top: 25px;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.wrap-content .wrap-top-city .nav-box-wrap .box-line-moskow {
  top: 25px;
}

.wrap-content .wrap-top-city .nav-box-wrap .box-line-kazan {
  top: 66px;
}

.wrap-content .wrap-top-city .nav-box-wrap .box-line-london {
  top: 104px;
}

.wrap-content .wrap-top-city .nav-box-wrap .box-line-active {
  opacity: 1;
}

.wrap-content .wrap-top-city .nav-box-wrap .nav-box {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  margin-right: 20px;
}

.wrap-content .wrap-top-city .nav-box-wrap .nav-box .tread-box {
  cursor: pointer;
}

.wrap-content .wrap-top-city .nav-box-wrap .nav-box .tread-box p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 29px;
  color: #546472;
  text-align: right;
}

.wrap-content .wrap-top-city .nav-box-wrap .nav-box .tread-box p:hover {
  color: #9EA9B3;
}

.wrap-content .wrap-top-city .nav-box-wrap .nav-box .tread-active p {
  color: #fff !important;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 25px;
  min-width: 300px;
  min-height: 225px;
  padding-right: 25px;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-box {
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  position: absolute;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-box p {
  font-family: "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: black;
  padding-left: 25px;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-box p a {
  text-decoration: underline;
  color: black;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-moskow {
  padding-top: 31px;
  z-index: 0;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-kazan {
  padding-top: 68px;
  z-index: 0;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-london {
  padding-top: 108px;
  z-index: 0;
}

.wrap-content .wrap-top-city .nav-box-wrap .context-box .context-active {
  display: inline-block;
  background-color: transparent;
  opacity: 1;
  z-index: 2;
}

.wrap-content {
  background-color: #d7dfe4;
}

.wrap-content .wrap-bot-form #letter-online .letter-online-popup {
  width: 100%;
  max-width: 999px;
}

.wrap-content .wrap-bot-form #letter-online .letter-online-popup p {
  display: none;
}

.wrap-content .wrap-bot-form #letter-online .letter-online-popup h1 {
  font-size: 15px;
  padding-bottom: 20px;
}

.wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-left p {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-right input {
  font-size: 15px;
}

.wrap-content .wrap-bot-form #letter-online .letter-online-popup form .atribute .convert-right textarea {
  font-size: 15px;
}
