.header_wrap {
  display: table;
  width: 100%;
}

.header_wrap > div {
  display: table-cell;
  vertical-align: top;
}

.header_wrap .header_logo {
  width: 29%;
}

.header_wrap .header-nav {
  width: 43%;
  vertical-align: bottom;
  font-family: 'Tahoma';
  font-size: 15px;
}

.header_wrap .header-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header_wrap .header-nav ul > li {
  width: 16.5%;
  float: left;
  border-bottom: 4px solid transparent;
  text-align: center;
}

.header_wrap .header-nav ul > li.active {
  border-bottom: 4px solid #f2dc5e;
}

.header_wrap .header-nav ul a {
  text-decoration: none;
  color: #546472;
}

.header_wrap .header_leng {
  width: 7%;
  vertical-align: top;
}

.header_wrap .header_leng ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.header_wrap .header_leng li {
  float: left;
  width: 50%;
  padding-top: 15px;
}

.header_wrap .header_leng a {
  color: #546472;
  text-decoration: none;
}

.header_wrap .header_right {
  width: 21%;
}
