/* titles */
.gray-title-wrap {
  margin-bottom: 33px;
}

.gray-title-wrap .gray-title {
  background-color: #e8ecf0;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 2px 0 5px 0;
  text-transform: uppercase;
}

.text-title-wrap {
  margin-bottom: 33px;
}

.text-title-wrap.white-color .text-title {
  color: #fff;
}

.text-title-wrap.white-color .text-title span:after {
  background-color: #fff;
}

.text-title-wrap .text-title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #465460;
  font-size: 29px;
  font-weight: 700;
}

.text-title-wrap .text-title span {
  display: inline-block;
  position: relative;
}

.text-title-wrap .text-title span:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #465460;
  width: 100%;
}

/* /titles */
/* paralax */
.parallax {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.parallax img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
  -webkit-transition: top ease-out .4s;
  -moz-transition: top ease-out .4s;
  -o-transition: top ease-out .4s;
  transition: top ease-out .4s;
}

/* /paralax */
/* rectange */
.specialization-main {
  text-align: center;
}

.rectange {
  display: inline-block;
  position: relative;
  padding: 5px;
  vertical-align: middle;
  width: 44%;
}

.rectange .rectange-img-wrap {
  position: relative;
  z-index: 1;
  width: 120px;
  height: 102px;
  position: relative;
}

.rectange .rectange-img {
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 60px;
  height: 102px;
  left: 30px;
  top: 0;
}

.rectange .rectange-img:before {
  display: block;
  content: '';
  width: 107%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -6px;
  height: 2px;
  background-color: #fff;
}

.rectange .rectange-img:after {
  display: block;
  content: '';
  width: 107%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -6px;
  height: 2px;
  background-color: #fff;
}

.rectange .rectange-img.first-layer {
  position: relative;
}

.rectange .rectange-img.first-layer img {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rectange .rectange-img.second-layer, .rectange .rectange-img.third-layer {
  height: 102px;
  width: 60px;
  top: 0px;
  left: 30px;
}

.rectange .rectange-img.second-layer {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.rectange .rectange-img.second-layer img {
  -webkit-transform: translate(-50%, -50%) rotate(-60deg);
  -moz-transform: translate(-50%, -50%) rotate(-60deg);
  -ms-transform: translate(-50%, -50%) rotate(-60deg);
  -o-transform: translate(-50%, -50%) rotate(-60deg);
  transform: translate(-50%, -50%) rotate(-60deg);
}

.rectange .rectange-img .first-layer-wrap, .rectange .rectange-img .second-layer-wrap, .rectange .rectange-img .third-layer-wrap {
  overflow: hidden;
  width: 60px;
  height: 102px;
  position: relative;
}

.rectange .rectange-img.third-layer {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.rectange .rectange-img.third-layer img {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  -moz-transform: translate(-50%, -50%) rotate(60deg);
  -ms-transform: translate(-50%, -50%) rotate(60deg);
  -o-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}

.rectange .rectange-img img {
  position: absolute;
  max-width: 200px;
  max-height: 102px;
  left: 50%;
  top: 50%;
}

/* /rectange */
/* functional-way */
.functional-way {
  padding-top: 64px;
  position: relative;
}

.functional-way-wrap {
  margin: 0px -3px 0 -3px;
  overflow: hidden;
}

.functional-way-col {
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(25% - 9.3rem);
  width: -moz-calc(25% - 9.3rem);
  width: calc(25% - 9.3rem);
  margin: 0 3px;
}

.functional-way-title {
  display: table;
  height: 96px;
  width: 100%;
  text-align: center;
  margin-bottom: 7px;
  position: relative;
  z-index: 1;
}

.functional-way-title > a, .functional-way-title > span {
  display: table-cell;
  vertical-align: middle;
  font-family: 'MyriadProCond', sans-serif;
  color: #fff;
  text-decoration: none;
  background-color: #1d457f;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  padding: 0 5px;
}

.functional-way-title > a {
  position: relative;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}

.functional-way-title > a span {
  position: relative;
  z-index: 1;
}

.functional-way-title > a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f2dc5e;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  transition: transform 300ms ease;
}

.functional-way-title > a:hover {
  color: #000;
}

.functional-way-title > a:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.functional-way-list {
  padding-top: 5px;
  border-top: 1px solid #7f8c95;
  position: relative;
  z-index: 1;
}

.functional-way-list li {
  position: relative;
}

.functional-way-list li a {
  display: block;
  text-align: right;
  padding: 7px 10px 9px 5px;
  font-family: Tahoma, sans-serif;
  text-decoration: none;
  color: #000101;
  font-size: 13px;
  position: relative;
  z-index: 1;
}

.functional-way-list li:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #f2dc5e;
  width: 0;
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  transition: width 300ms ease;
  z-index: 0;
}

.functional-way-list li:hover:before {
  width: 100%;
}

.functional-index {
  /*background-image:url(../images/functional-index-background.png);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  padding-top: 53px;
  padding-bottom: 13px;
  margin-top: -99px;
  position: relative;
}

.functional-index .functional-way-title {
  text-align: right;
  height: 72px;
  margin-bottom: 1px;
}

.functional-index .functional-way-title > a, .functional-index .functional-way-title > span {
  background-color: transparent;
  color: #d92819;
  font-size: 27px;
  font-family: 'PT Sans Narrow', sans-serif;
  vertical-align: top;
  line-height: 1.2;
  padding-top: 9px;
}

.functional-index .functional-way-col {
  position: relative;
}

.functional-index .functional-way-col:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e3e9ed;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  transition: transform 300ms ease;
}

.functional-index .functional-way-col:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.functional-index .functional-way-list {
  padding-top: 10px;
  border-top: 2px solid #7f8c95;
}

.functional-index .functional-way-list li a {
  padding: 5px 10px 5px 5px;
}

.functional-index .doneproject-title-wrap {
  padding: 4px;
  position: absolute;
  top: 400px;
  background-repeat: no-repeat;
  z-index: 2;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  right: 0;
  z-index: 1;
  -webkit-border-radius: 100px 0px 0px 0px / 75px 0px 0px 0px;
  -moz-border-radius: 100px 0px 0px 0px / 75px 0px 0px 0px;
  border-radius: 100px 0px 0px 0px / 75px 0px 0px 0px;
  height: 43px;
  width: -webkit-calc(100%/2 - 999px/2 + 708px);
  width: -moz-calc(100%/2 - 999px/2 + 708px);
  width: calc(100%/2 - 999px/2 + 708px);
  cursor: pointer;
  background-color: #D5E0E6;
}

.functional-index .doneproject-title-wrap .doneproject-title {
  text-align: right;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #465460;
  font-weight: 100;
  margin-right: 385px;
}

.functional-index .doneproject-title-wrap:hover {
  background-color: #FADD52;
}

/* /functional-way */
/* specialization */
.specialization-main {
  position: relative;
  top: -99px;
}

.specialization {
  background-image: url(../images/specialization-bg.jpg);
  background-position: center center;
  border-bottom: 12px solid #f2dc5e;
  padding: 0px 0 49px 0;
  position: relative;
  z-index: 1;
  padding-top: 102px;
}

.specialization .text-title-wrap {
  position: relative;
  top: -17px;
  margin-bottom: 38px;
}

.specialization-wrap {
  text-align: center;
  margin: 0 66px;
}

.specialization-wrap li {
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(25% - 3.3rem);
  width: -moz-calc(25% - 3.3rem);
  width: calc(25% - 3.3rem);
  padding: 0 8px;
  margin-bottom: 22px;
}

.specialization-wrap li a {
  display: table;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color: rgba(0, 45, 111, 0.8);
  position: relative;
}

.specialization-wrap li a:before {
  content: '';
  position: absolute;
  z-index: 0;
  background-color: #0b1d4a;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 300ms ease, left 300ms ease, top 300ms ease, bottom 300ms, right 300ms;
  -moz-transition: opacity 300ms ease, left 300ms ease, top 300ms ease, bottom 300ms, right 300ms;
  -o-transition: opacity 300ms ease, left 300ms ease, top 300ms ease, bottom 300ms, right 300ms;
  transition: opacity 300ms ease, left 300ms ease, top 300ms ease, bottom 300ms, right 300ms;
  display: block;
}

.specialization-wrap li a span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 13px 0 13px 0;
  position: relative;
  z-index: 1;
}

.specialization-wrap li a:hover:before {
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  opacity: 1;
}

/* /specialization */
@media screen and (max-width: 992px) {
  /* functional-way */
  .functional-way-col {
    width: -webkit-calc(50% - 8.3rem);
    width: -moz-calc(50% - 8.3rem);
    width: calc(50% - 8.3rem);
    margin-bottom: 25px;
  }
  /* /fucntional-way */
  /* specialization */
  .specialization-wrap li {
    width: -webkit-calc(33.33% - 3.3rem);
    width: -moz-calc(33.33% - 3.3rem);
    width: calc(33.33% - 3.3rem);
  }
  /* /specialization */
}

@media screen and (max-width: 767px) {
  /* functional-way */
  .functional-way-wrap {
    margin: 0px -5px 0 -3px;
  }
  /* /functional-way */
}

@media screen and (max-width: 666px) {
  /* functional-way */
  .functional-way-wrap {
    margin: 0px -6px 0 -3px;
  }
  /* /functional-way */
  /* specialization */
  .specialization-wrap li {
    width: -webkit-calc(50% - 3.3rem);
    width: -moz-calc(50% - 3.3rem);
    width: calc(50% - 3.3rem);
  }
  /* /specialization */
}

@media screen and (max-width: 479px) {
  /* functional-way */
  .functional-way-wrap {
    margin: 0;
  }
  .functional-way-col {
    width: 100%;
    margin: 0 0 25px 0;
  }
  .functional-way-list li a {
    text-align: center;
  }
  /* /functional-way */
  /* specialization */
  .specialization-wrap li {
    width: 100%;
    margin-bottom: 15px;
  }
  /* /specialization */
  /* titles */
  .text-title-wrap .text-title {
    font-size: 20px;
  }
  /* /titles */
}
