$yellow:#f2dc5e;
@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    // header
    .header{position: relative;
        .mbox{position: static;}
    }
    .header_wrap {
        .header_logo {max-width: 30%;text-align: center;
            a{display: inline-block;}
        }
        &>div{float: left;}
        .header-nav{position: absolute;width: 100%;left: 0;right: 0;top: 80px;float: none;display: none;}
        .header_leng{position: absolute;top: 0;right: 7%;
            &:after{height: 78%;}
        }
        .sendwich-icon{width: 30rem;height: 30rem;cursor: pointer;position: absolute;right: 15rem;top: calc(50% - 12.5rem);display: block;
            &.active{
                span{background-color: transparent;
                     &:before{transform: rotate(-45deg);left: 2rem;top: 9rem;}
                     &:after{transform: rotate(45deg);left: 2rem;top: -12rem;}
                }
            }
            span{display: inline-block;width: 100%;height: 4rem;background-color: #000;transition: background-color 300ms ease;position: relative;
                &:after,&:before{content: '';display: block;width: 100%;position: absolute;height: 4rem;background-color: #000;left: 0;transform-origin: 0 50%;transition: left 300ms ease, transform 300ms ease,width 300ms ease, top 300ms ease, bottom 300ms ease;}
                &:after{top: -9rem;}
                &:before{bottom: -9rem;}
            }
        }
        .header-nav ul > li{width: 100%;float: none;border-bottom: none;background-color: $yellow;display: block;
            &.active{border-bottom: none;}
            &:hover{background-color: #fff;}
            a{display: block;padding: 6px 0px;font-size: 16px;letter-spacing: 1px;}
        }
        .header-nav .next{position: relative;top: 0;}
        .header-nav .next li{padding: 0;text-align: center;}
        .header-nav .next li .next{position: relative;left: 0;top: 0;}
        .header-nav .next li.arrow-next:after{display: none;}
        .arrow-next a span{position: relative;}
        li.arrow-next>a span:after{position: absolute;width: 8px;height: 16px;right: -18px;top: 3px;background: url('../images/head_arrow.png') center center no-repeat;content: '';transform: rotate(90deg);}
        .header_right{width: 56%;
            .header_tel{padding-left: 0;}
            .header_button{padding-left: 0;padding-top: 15px;
                a{padding: 6px 2px;font-size: 12px;}
            }
            .header_tel_row{width: 33%;float: left;}
        }
    }
}
@media screen and (max-width: 992px){
    .header_wrap .header_logo img {max-width: 100%;}
    .header_wrap .header_logo {width: 19%;}
    .header_wrap .header_right {width: 63%;padding: 0 2%;}
    .header_wrap .header_right .header_button{padding-top: 8px;}
    .header_wrap .header_right .header_tel_row{text-align: center;}
    .header_wrap .header_leng a{font-size: 12px;padding-top: 13px;}
    .header_wrap .header_leng li{float: none;width: 100%;padding-top: 0;}
    .header_wrap .header_leng:after{display: none;}
    .header_wrap .header_leng{top: 0px;right: 10%;}

    // footer
    .footer .grey_blog .grey_blog_text_wrap{text-align: center;}
    .footer .footer-blog-wrap .copywriting{text-align: center;}
    .footer .footer-blog-wrap .footer-blog-middle-side{float: none;width: 100%;text-align: center;}
    .footer .footer-blog-wrap .footer-blog-middle-side ul{padding: 0;padding-top: 10px;}
    .footer .footer-blog-wrap .footer-blog-middle-side li{float: none;display: inline-block;}
    .footer .footer-blog-wrap{padding-top: 60px;}
    // top section
    .top_section_wrap .top_title{padding-right: 4%;}

    // project
    .projects_item_row .projects_items_text{padding-left: 3px;}
    .projects_item_row a{font-size: 11px;}
}
@media screen and (max-width: 767px){
    // project
    .projects_items{text-align: center;}
    .projects_item_row .projects_items_img{width: 100%;display: inline-block;}
    .projects_item_row .projects_items_text{width: 100%;display: inline-block;padding-left: 0;padding-top: 10px;}
}
@media screen and (max-width: 666px){
    .header_wrap .header_logo{width: 100%;max-width: 100%;}
    .header_wrap .header_right{width: 100%;padding: 0 1% 6%;}
    .header_wrap .sendwich-icon{position: relative;float: right;}
    .header_wrap {padding-bottom: 6%;}
    .header_wrap .header-nav{top: 100%;}
    .header_wrap .header_leng{bottom: 20px;right: auto;top: auto;left: 19px;}
    .footer .footer-blog-wrap{padding-top: 50px;}
    .header_wrap .header_leng a{padding-top: 6px;padding-bottom: 4px;}
    .top_section_wrap .top_section_bottom .top_section_item{float: none;width: 100%;margin-bottom: 30px;}
    .top_section_wrap{background-size: cover;}
    .top_section_wrap .top_title{padding: 50px 2% 0px;text-align: center;}
    .top_section_wrap .top_section_bottom {padding-top: 43px;}
    .footer .grey_blog .grey_blog_text_wrap span{display: block;margin-right: 0;}
    .footer .grey_blog .grey_blog_text_wrap .grey_blog_button{display: block;text-align: center;padding-top: 36px;}
    .footer .grey_blog .grey_blog_text_wrap .grey_blog_button a{display: inline-block;}



    // index form
    #letter-online .letter-online-popup form .atribute .convert-left p{margin-right: 0;text-align: center;font-size: 15px;margin-bottom: 7px;}
    #letter-online .letter-online-popup form .atribute .convert-left{float: none;width: 100%;}
    #letter-online .letter-online-popup form .atribute .convert-right{float: none;width: 100%;}
    #letter-online .letter-online-popup form .atribute .convert-right textarea, #letter-online .letter-online-popup form .atribute .convert-right input{padding: 6px;font-size: 14px;}
    #letter-online .letter-online-popup .subtitle{font-size: 15px;font-weight: 500;text-align: center;}
    #letter-online .letter-online-popup form .letter-online-wrap-submit{text-align: center;}
    #letter-online .letter-online-popup form .letter-online-wrap-submit button{width: auto;}

    #call-popup{padding: 20px;min-width:auto;}
}
@media screen and (max-width: 479px){
    .footer .footer-blog-wrap .footer-blog-middle-side li{padding-right: 9px;margin: 0 -1px;}
    .footer .footer-blog-wrap .footer-blog-middle-side li:after{right: 2px;}

    .projects_item_row .projects_items{width: 100%;float: none;display: block;margin-bottom: 31px;}
    .projects_item_row{margin-bottom: 0;}
}
@media screen and (max-width: 320px){
    // top section
    .top_section_wrap .top_title .subtitle {font-size: 12px;line-height: 20px;}
    .top_section_wrap .top_title h2 {font-size: 34px;}
    .footer .footer-blog-wrap .footer-blog-middle-side li {padding-right: 4px;margin: 0 -3px;}
    .footer .footer-blog-wrap .footer-blog-middle-side li:after{display: none;}
    .header_wrap .header_leng{bottom: 13px;}
}