@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){
    .doneproject-section .doneproject-title-wrap{width: 63%;padding-right: 60px;}
    .bottomsection-section .top-arrow{padding-top: 0;}
}
@media screen and (max-width: 1366px){
    .doneproject-section .doneproject-title-wrap{width: 65.2%;}
    .aboutus-section .parallax img{transform: translate(-50.1%, 30%);}
    .bottomsection-section{
        .parallax img{transform: translate(-50%, 43%);}
    }
}
@media screen and (max-width: 1280px){
    .aboutus-section .parallax img{transform: translate(-50.1%, 11%);}

    .aboutus-section .aboutus-body{padding-bottom: 0;}
    // .bottomsection-section .top-arrow{padding-bottom: 124px;}
    .bottomsection-section .top-arrow{padding-top: 22px;padding-bottom: 102px;}
    .bottomsection-section{padding-bottom: 10px;}
    // .bottomsection-section .top-arrow{    padding-top: 26px;}
    .bottomsection-section{
        .parallax img{transform: translate(-50.1%, 50%);}
        .top-arrow{
            &:after{display: block;content: '';position: absolute;left: 0;border-left: 50vw solid transparent;border-right: 49vw solid transparent;border-top: 74px solid white;z-index: 0;top: 93px;}
            &:before{display: block;content: '';position: absolute;left: 0; height: 93px;width: 100%;background-color: #fff;top: 0;}
        }
    }


    .aboutus-section{position: relative; /*background-image: url(../images/paralax-last-1-img.jpg);*/ background-repeat: no-repeat;    background-position: top ; background-attachment: fixed;overflow: hidden;

    .aboutus-title-wrap{padding: 5px 0px 5px;transition:all 300ms ease; cursor: pointer;position: relative;

        a{display: block;width: 100%;height: 47px;z-index: 3; text-decoration: none; }
        a:hover{text-decoration: none;}
        .aboutus-title{word-spacing: -1px;letter-spacing: 0px;text-align: right; margin-right: 594px; font-family: 'PT Sans Narrow', sans-serif; font-size: 26px; text-transform: uppercase; color: #465460; font-weight: 100;}


        }
        &:after{ content: ""; position: absolute; top: 0 ; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 753px 90px 0; border-color: transparent #ffffff transparent transparent;}

        .aboutus-body{padding-top: 37px;position: relative;z-index: 2;padding-bottom: 8px;
            .aboutus-list{color: #fff;font-family: tahoma;font-size: 16px;font-weight: 700;word-spacing: 2px;line-height: 1.5;width: 76%;letter-spacing: 1.3px;word-spacing: 7.5px;
                .aboutus{padding-left: 31px;
                    p{margin-bottom: 20px;    padding-top: 3px;    letter-spacing: 1.4rem;     line-height: 23rem; word-spacing: 7rem;
                        span{letter-spacing: 1.3rem;    word-spacing: -1rem;}

                        &:nth-child(1){ i{&:nth-child(1){letter-spacing: 1.3rem;}&:nth-child(2){margin-left: -1px; word-spacing: 6px;}}   }
                        &:nth-child(2){    letter-spacing: 1.6rem; word-spacing: 6rem; i{letter-spacing: 1.5rem;}span{word-spacing: -1.6rem;}}
                        &:nth-child(3){  letter-spacing: 1.2rem; word-spacing: -1.6rem;i{letter-spacing: 1.3rem;    margin-left: -1rem;    word-spacing: -2rem;    margin-right: 1rem;}span{ word-spacing: -1.9rem; letter-spacing: 1.6rem;i{&:nth-child(2){letter-spacing: 1.2rem;}}}}
                        &:nth-child(4){ letter-spacing: 1.55rem;    word-spacing: 1.44rem;
                            i{
                                &:nth-child(1){    margin-left: 2px;    letter-spacing: 1.2rem;    margin-right: 3px;}
                                &:nth-child(2){    margin-left: 1px;    letter-spacing: 1.4rem;    margin-right: 1px;}
                                &:nth-child(3){    margin-left: 2px;    letter-spacing: 1.3rem;    margin-right: 2px;}
                                &:nth-child(4){    margin-left: 1px;}

                            }
                            span{ word-spacing: -1.9rem;     letter-spacing: 1.37rem;
                                i{
                                    &:nth-child(1){margin-left: 1px;    letter-spacing: 1.4rem;margin-right: 0px;}
                                    &:nth-child(2){margin-left:0;    margin-right: 0px;}
                                    &:nth-child(3){margin-left:-1px;    margin-right: 0px;}
                                    &:nth-child(4){margin-left:0px;  }
                                }
                            }
                        }
                        &:before{display: block;content: '';position: absolute;background-image: url(../images/arrow-about.png);background-repeat: no-repeat;width: 18px;height: 52px;left: -3px;}
                        &:nth-child(1){&:before{top:0px;}}
                    }
                }
            }
        }
    }



}
@media screen and (max-width: 1024px){
 .doneproject-section .doneproject-title-wrap{width: 70.2%;}
}
@media screen and (max-width: 992px){
 .aboutus-section .aboutus-title-wrap{    top: 2px;}
 .doneproject-section .doneproject-title-wrap{width: 70.9%;}
 .aboutus-section .aboutus-body{padding-left: 30px;}
 .bottomsection-section .top-arrow h2{padding: 0px 30px;
 	span{word-spacing: 0;text-align: center;}
 }
 .aboutus-section .aboutus-body .aboutus-list{    width: 100%;}
}
@media screen and (max-width: 768px){

.doneproject{}
.aboutus-section .aboutus-body .aboutus-list .aboutus p{position: relative;
	&:before{top: 50%;transform: translateY(-50%);    left: -35px;}
}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange{width: 25%;}
.doneproject-section .doneproject-body .slick-prev.slick-arrow, .doneproject-section .doneproject-body .slick-next.slick-arrow{left: -30px;}
.doneproject-section .doneproject-body .slick-next.slick-arrow{    right: -30px;left: inherit;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .text-wrap{    width: 74%;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange:hover .hover-project{left: -93px;}
.bottomsection-section .top-arrow h2 span{font-size: 20px;}
.bottomsection-section .top-arrow h2{font-size: 19px;}
.bottomsection-section .top-arrow{padding-bottom: 120px;}

/*dev4*/
.doneproject-section .doneproject-title-wrap {width: 72.5%;height: 36px;top: -2px;padding-right: 30px;}
.doneproject-section .doneproject-title-wrap .doneproject-title{font-size: 19px;}
.doneproject-section a{top: 0px;}
.doneproject-section .doneproject-body{background-image: url(../images/project-bg-768.png);padding-bottom: 0;}
.doneproject-section .doneproject-body .doneproject-slider{padding-top: 40px;}
.doneproject-section{margin-bottom: -43px;}

.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange {width: 44%;padding: 5px;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .text-wrap{width: 54%;}
.doneproject-section .doneproject-body .doneproject-slider {padding-top: 40px;padding-bottom: 62px;}

.hover-project {z-index: 12;width: 140px;height: 85.19px;background-color: #001C59;margin: 52.1px 0;position: absolute;top: -50px;-webkit-transform: rotate(30deg) scale(0.591);-moz-transform: rotate(30deg) scale(0.591);-ms-transform: rotate(30deg) scale(0.591);-o-transform: rotate(30deg) scale(0.591);transform: rotate(30deg) scale(0.565);left: -77px;opacity: 0;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange:hover .hover-project {
    left: -53px;}
.hover-project:before, .hover-project:after {content: "";position: absolute;width: 0;border-left: 70px solid transparent;border-right: 70px solid transparent;}
.hover-project:before {bottom: 99%;border-bottom: 40px solid #001C59;}
.hover-project:after {top: 99%;width: 0;border-top: 40px solid #001C59;}
.hover-project p {transform: rotate(-30deg);font-family: tahoma;color: #f1dc5e;font-size: 14rem;text-align: center;padding: 22px 13px 0px 0px;position: relative;z-index: 0;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .text-wrap p{font-size: 9px;font-weight: normal;}
.doneproject-section .doneproject-body .slick-prev.slick-arrow, .doneproject-section .doneproject-body .slick-next.slick-arrow{width: 35px;height: 60px;background-position: center center;}
.doneproject-section .doneproject-body .slick-next.slick-arrow{top: 21%;}
.doneproject-section .doneproject-body .slick-next.slick-arrow {right: -30px;left: inherit}

}
@media screen and (max-width: 767px){
.doneproject-section .doneproject-title-wrap{    width: 81.2%;}
.aboutus-section .aboutus-title-wrap{    top: 27px;}
.bottomsection-section .top-arrow h2 span{font-size: 17px;}
.bottomsection-section .top-arrow h2{font-size: 16px;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange:hover .hover-project{left: -83px;}
.bottomsection-section .bottomsection-punkts .bottomsection-punkt-wrap{padding-bottom: 20px;}
}
@media screen and (max-width: 666px){
	.doneproject-section .doneproject-body{padding-bottom: 100px;}
.doneproject-section a{width: 100%;}
.doneproject-section .doneproject-title-wrap{    width: 82.2%;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .text-wrap{    width: 100%;     text-align: center;}
.aboutus-section .aboutus-title-wrap,.aboutus-section a{    top: 20px;}
.aboutus-section .aboutus-body .aboutus-list{font-size: 13px;}
.bottomsection-section .top-arrow h2 span{font-size: 16px;}
.bottomsection-section .top-arrow h2{font-size: 12px;}
.bottomsection-section .bottomsection-punkts .bottomsection-punkt-wrap{    width: calc(100% - 20px);float: none;margin:0 auto; margin-bottom: 40px;}
.bottomsection-section .bottomsection-info{    font-size: 16px;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange{    width: 25%;margin: 0 auto;float: none;position: relative;display: block;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange:hover .hover-project{     left: -24px;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange .image-wrap{    left: 50%; transform: translateX(-75%);}
.doneproject-section .doneproject-body .slick-prev.slick-arrow, .doneproject-section .doneproject-body .slick-next.slick-arrow{left: 0;}
.doneproject-section .doneproject-body .slick-next.slick-arrow{right: 0;left: inherit;top: 55%;}

}
@media screen and (max-width: 480px){
	.doneproject-section .doneproject-title-wrap {width: 93.2%;}
	.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange{width: 25%;}
}
@media screen and (max-width: 479px){
.doneproject-section .doneproject-title-wrap{width: 100%;background-color: #D5E0E6;padding-left: 0;}
.doneproject-section .doneproject-title-wrap .doneproject-title{font-size: 21px;text-align: center;}
.aboutus-section .aboutus-body{background-size: cover;}
.aboutus-section .aboutus-title-wrap, .aboutus-section a{top: 31px;text-align: center;}
.bottomsection-section .top-arrow h2{background-color: #fff;}
.bottomsection-section .top-arrow{padding-bottom: 80px;}
.bottomsection-section .bottomsection-info{    font-size: 14px;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange:hover .hover-project{left: -19%;}
.doneproject-section .doneproject-body .doneproject-slider .doneproject .rectange{width: 45%;}
}
@media screen and (max-width: 320px){

}