
#call-popup{padding:40px; max-width: 800px; background-color: #d7dfe4; min-width: 500px;min-height: 350px; z-index: 2;
    .call-popup{position: relative;

        p{text-align: center; color: #000; font-size: 25px; font-family: 'Open Sans', sans-serif; margin-bottom: 20px; font-weight:700; }

        .callback-form{ width: 100%; padding: 10px;font-size: 17px;
            .form-wrap-for-rows{
                .add-row-for-time{display: none;}
                .form-wrap-row{width: 100%;margin-bottom: 30px;position: relative;
                    .errorText{display: none !important};
                    input{border: none; background-color: #fff; font-family: 'Tahoma', sans-serif; font-size: 17px;width: 100%;padding: 5px; border: 1px solid transparent;
                            &.error{border: 1px solid #f00;}
                    }

                    input:focus{outline: none; }
                    .jq-selectbox li:hover { background-color: #b0bdc8 !important;color: #FFF !important; }
                    .select-wrap{width: 100%; background: black;
                        .jq-selectbox__select{ background: white;border: none; border-radius: 0px; outline: none;box-shadow: none; padding-right: 5px; border: 1px solid transparent;
                            .jq-selectbox__trigger{display: none; }
                            .jq-selectbox__select-text{font-size: 17px;color: #000;font-family: 'Tahoma', sans-serif;}

                        }

                        select{  padding: 5px;
                            &.error + .jq-selectbox__select{border: 1px solid #f00;}
                        }

                    }
                }
                .submit{float: left; width:60%;
                    button{width: 100%; background-color: #b0bdc8; text-transform: uppercase; color: black; font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 20px; border: none; width: 100%; cursor: pointer;}
                    button:hover, button:active, button:focus, button:visited {outline: none;}
                }
                a{ box-sizing: border-box; width: 100%;color: black; cursor: pointer;
                .no-submit{width:35%; float: right; text-align: center; background-color: #b0bdc8;font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 20px;
                        .form-input{background-color: #b0bdc8; text-transform: uppercase;  border: none; text-align: center;}
                    }
                }
                a:hover, a:active{outline: none;}
            }
        }
        .call-success{position: absolute; vertical-align: top; top: 30%; width: 100%; opacity: 0;z-index: -1;transition:transform 500ms ease, opacity 500ms ease;-webkit-transition:transform 500ms ease, opacity 1000ms ease;-moz-transition:transform 500ms ease, opacity 1000ms ease;-ms-transition:transform 500ms ease, opacity 1000ms ease;
            .call_success{min-width:300px; max-width: 475px; width: 80%;margin: 0 auto;background-color: #f2dc5e; text-align: center; padding-bottom: 20px; padding-top: 20px;font-family: 'Tahoma', sans-serif; font-weight: 400; font-size: 15px; }

        }
    }

}
.fancybox-inner{overflow: visible !important;}

#letter-online{
    .letter-online-popup{ width: 100%; max-width: 710px; background-color: #d7dfe4; padding: 20px;
        p{text-align: center; color: #000; font-size: 25px; font-family: 'Open Sans', sans-serif; margin-bottom: 20px; font-weight:700;}
        h1{font-size: 11px; font-family: "Tahoma", sans-serif; padding-bottom: 20px; }
        form{
            .atribute{display: block;text-align: right;margin-bottom: 10px; box-sizing: border-box;
                .convert-left{ display: block;width: 28%; float: left;
                    p{  margin-right: 10px;font-size: 12px; font-family: "Tahoma", sans-serif; text-align: right;}
                }

                .convert-right{display: block;float: right; width: 70%;
                    textarea, input{font-size: 20px;width: 100%; font-size: 12px; font-family: "Tahoma", sans-serif; border:1px solid transparent;
                            &.error{border:1px solid red;}
                        }
                        textarea:focus, input:focus{outline: none; }
                        .errorText{display: none !important;}
                }
            }
            .letter-online-wrap-submit{ text-align: right;
                button{width: 35%;background-color: #b0bdc8; text-transform: uppercase; color: black;font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 20px;  border: none; cursor: pointer;}
                button:hover, button:active, button:focus, button:visited {outline: none;}
            }
        }

    .call-success{position: absolute; vertical-align: top; top: 30%;  width: 100%;  opacity: 0;z-index: -1;transition:transform 500ms ease, opacity 500ms ease;-webkit-transition:transform 500ms ease, opacity 1000ms ease;-moz-transition:transform 500ms ease, opacity 1000ms ease ;-ms-transition:transform 500ms ease, opacity 1000ms ease ;
            .call_success{min-width:300px; max-width: 475px; width: 80%;margin: 0 auto;background-color: #f2dc5e; text-align: center; padding-bottom: 20px; padding-top: 20px;font-family: 'Tahoma', sans-serif; font-weight: 400; font-size: 15px; }

        }
    }
}