$yellow:#f2dc5e;
/*header*/
.header_wrap{display: table;width: 100%;min-height: 80px;
    &>div{display: table-cell;vertical-align: top;}
    .header_logo{width: 29%;
        a{display: inline-block;}
        img{max-width: 52%;}
    }
    .header-nav{width: 43%;vertical-align: bottom;font-family: 'Tahoma';font-size: 15px;
        ul{margin:0;padding: 0;list-style-type: none;
            &>li{width: 16.5%;float: left;border-bottom:4px solid transparent;text-align: center;
                &.active{border-bottom:4px solid $yellow;}
            }
            a{text-decoration: none;color: #546472;font-size: 15px;}
            li{position: relative;}
        }
        .next{position: absolute;left: 0;top: 18px;padding: 4px 0;width: 100%;min-width:230px;background-color: $yellow;display: none;
            li.arrow-next{
                &:after{position: absolute;width: 8px;height: 16px;right: 3px;top: 8px;background: url('../images/head_arrow.png') center center no-repeat;content: '';}
            }
            li{float: none;width: 100%;border-bottom: none;text-align: left;padding: 6px 5px;background-color: $yellow;
                &:hover{background-color: white;}
                .next{left: 100%;min-width: 280px;top: -4px;}
            }
        }
    }
    .header_leng{width: 7%;vertical-align: top;position: relative;
        &:after{position: absolute;height: 37%;right: 48.4%;top: 0;border-right:2px dotted #546472;content: '';z-index: 2;}
        ul{list-style-type: none;margin: 0;width: 100%;padding: 0;}
        li{float: left;width: 50%;text-align: center;position: relative;z-index: 1;transition:all ease .2s;
            &.active{
                a{color: #d92819;}
            }
            &:hover{background-color: $yellow;
                a{color: #000;}}
        }
        a{color: #546472;text-decoration: none;font-size: 10px;padding-bottom: 7px;padding-top: 20px;display: inline-block;transition:all ease .2s;}
    }
    .header_right{width: 21%;
        .header_tel_row{font-size: 12rem;color: #000;
            .icon{width: 18px;height: 12px;display: inline-block;background:url(../images/moscow.png) center center no-repeat;margin-right: 2px;
                &.kazan{background-image: url(../images/kazan.png);}
                &.london{background-image: url(../images/london.png);}
            }
            span{}
            a{font-size: 11px;color: #000;text-decoration: none;
                &:hover{text-decoration: underline;}
            }
        }
        .header_tel{padding-left: 12%;padding-top: 10px}
        .header_button{text-align: center;padding-top: 6px;padding-left: 12%;
            a{width: 48%;display: inline-block;color: #485762;font-size: 9px;text-decoration: none;background-color: #d8dee2;padding: 3px 2px;text-transform: uppercase;transition:all ease .2s;
                &.zvonok{background-color: #8e99a1;color:white;}
                &:hover{background-color: $yellow;color: #000;}
            }
        }
    }
    .sendwich-icon{display: none;}
}
/*top section*/
.top_section_wrap{min-height: 665px;background: url('../images/top_section_bg.png') center center no-repeat;position: relative;z-index: 2;background-size: cover;
     // &:before{content:'';display: block;position: absolute;width: 100%;height: 102px;background-image: url(../images/specialization-top-bg.png);z-index: 2;background-position: center center;bottom: -102px;z-index: 10;}

    .top_title{text-align: right;color: white;text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.72);padding-top: 121px;
        h2{font-size: 38px;font-family: 'Open Sans Condensed', sans-serif;font-weight: 700;}
        .subtitle{font-size: 14px;text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.95);padding-top: 11px;line-height: 23px;}
    }
    .top_section_bottom{padding-top: 90px;
        .top_section_item{float: left;width: 25%;}
        .top_section_item_wrap{width: 150px;height: 150px;margin: 0 auto;background-color: rgba(250,250,250, .6);border-radius: 50%;text-align: center;transition:all ease-out .2s;}
        .top_section_item_text{

        }
        .top_section_item_top{
            b,span{color: #d92819;font-weight: 900;font-family: "Open sans",sans-serif;font-size: 20px;}
            b{font-size: 41px;}
        }
        .top_section_item_bottom{}
        .top_section_item_top{padding-top: 16px;}
        .top_section_item_bottom{font-family: 'Tahoma';font-size: 14px;font-weight: 500;}
        .top_section_item_wrap{position: relative;
            &:after{height: 160px;width: 160px;position: absolute;top: -7px;right: -7px;border-radius: 50%;border:2px solid rgba(250,250,250, .6);content: '';}
            &:hover{background-color: #fff;
                &:after{border:2px solid white;}
            }
        }
    }
    .top_section_button{text-align: center;padding-top: 9px;
        .top_section_button_wrap{height: 60px;width: 60px;border:1px solid #f2dc5e;border-radius: 50%;display: inline-block;
            &:hover{
                a{height: 52px;width: 52px;margin-top: 3px;padding-top: 16px;}
            }
        }
        a{text-decoration: none;font-size: 13px;color: #000;background-color: #f2dc5e;height: 41px;width: 41px;display: inline-block;border-radius: 50%;padding-top: 10px;margin-top: 9px;transition:all ease .2s;
           span{position: relative;z-index: 1;
                &:after{position: absolute;content: '';height: 75px;left: 50%;top:50%;border:1px dotted #95abc2;transform: translate(-50%,-50%);z-index: 1;}
                b{position: relative;z-index: 2;display: inline-block;background-color: #f2dc5e;font-weight: normal;}


           }
        }
    }
}
/*footer*/
.footer{overflow: initial;
    .grey_blog{background-color: #d7dfe5;padding: 4px 0px;
        .grey_blog_text{}
        .grey_blog_text_wrap{font-family: 'PT Sans Narrow', sans-serif;font-size: 26px;text-align: right;color: #000000;
            span{margin-right: 20px;}
            &>div{display: inline-block;}
            a{text-decoration: none;color: inherit;color: #000000;}
            .grey_blog_button{position: relative;z-index: 2;margin-right: 36px;
                a{position: relative;
                    span{position: relative;z-index: 6;color: #000000;}
                    &:after{position: absolute;height: 80px;width: 80px;content: '';background-color: $yellow;top: -22px;left: -2px;z-index: 1;border-radius: 50%;transition:all ease .3s;}
                    &:before{position: absolute;height: 105px;width: 105px;content: '';top: -35px;left: -15px;z-index: 1;border-radius: 50%;border:1px solid $yellow;}
                    &:hover{
                        &:after{height: 95px;width: 95px;top: -29px;left: -9px;}
                    }
                }

            }
        }
    }
    .footer-blog{padding-bottom: 49px;}
    .footer-blog-wrap{font-family: "Tahoma",sans-serif;color: #546472;font-size: 12px;padding-top: 33px;
        .mbox{padding: 0 3px;}
        .footer-blog-middle-side{float: left;width: 50%;position: relative;
            &:last-child{top: -2px;right:-5px;}
            a{font-family: "Tahoma",sans-serif;color: #546472;font-size: 12px;}
            ul{float: right;}
            li{float: left;padding-right: 21px;position: relative;
                &:after{content: '';position: absolute;right: 6px;top: 0;width: 1px;height: 100%;background-color: #546472;}
                &:last-child{padding-right: 0;
                    &:after{display: none;}
                }
                a{font-family: "Tahoma",sans-serif;text-decoration: none;font-size: 13px;
                    &:hover{text-decoration: underline;}
                }
            }
        }
        .copywriting{padding-bottom: 6px;}
    }
}

.projects_wrap{
    .gray-title-wrap{padding-top: 64px; }
    .projects_item_wrap{padding-bottom: 50px;}
}
.projects_item_row{margin-bottom: 28px;
    .projects_items{width: 33.3%;float: left;display: table;
        &:after{content: '';display: block;clear: both;}
    }
    a{display: block;font-family: "Tahoma";font-weight: bold;font-size: 13px;color: #000000;text-decoration: none;}
    .projects_items_img{width: 40%;display: table-cell;vertical-align: middle;}
    .projects_items_text{width: 60%;display: table-cell;vertical-align: middle;padding-left: 12px;}

    .rectange .rectange-img:before{top: -3px;width: 104%;background-color: #7f8c95;}
    .rectange .rectange-img:after{bottom: -3px;width: 104%;background-color: #7f8c95;}
    .rectange{padding-left: 3px;padding-right: 3px;background-color: transparent;}
}