/* bottomsection */

.bottomsection-section{background-image: url(../images/bottomsection-bg.jpg);background-repeat: no-repeat;background-position: bottom;overflow: hidden;     background-attachment: fixed;
	.top-arrow{position: relative;padding-bottom: 100px;padding-top: 21px;
		h2{font-family: 'Open Sans Condensed', sans-serif;color: #000;font-size: 21px; font-weight: 700;text-align: center;padding-left: 42px;letter-spacing: 0.5px;line-height: 1.5;
			span{color: #d92819;font-size: 25px;display: block;text-align: justify;width: 100%;padding-top: 3px;word-spacing: 11px;letter-spacing: 0;}
		}
		&:after{display: block;content: '';position: absolute;left: 0;border-left: 50vw solid transparent;border-right: 49vw solid transparent;border-top: 111px solid white;z-index: 0;top: 52px;}
		&:before{display: block;content: '';position: absolute;left: 0; height: 52px;width: 100%;background-color: #fff;top: 0;}
	}
	.bottomsection-punkts{padding-bottom: 20px;
		.bottomsection-punkt-wrap{width: calc(33.33% - 20px);float: left;background-color: rgba(200,200,200,0.5);margin-right: 30px;
			.bottomsection-punkt{text-align: center;
				.punkt-number{background-color: #FADD52;width: 30px;height: 30px; border-radius: 50%;font-size: 21px;font-family: 'Open Sans Condensed', sans-serif;font-weight: 700;color: #4B6573;position: relative;display: inline-block;top: -25px;
					&:before{width: 34px;height: 34px;position: absolute;display: block;content: '';border: 1px solid #FADD52;border-radius: 50%;transform: translate(-50%,-50%);left: 50%; top: 50%;}
				}
				.punkt-text{position: relative;top: -10px;padding: 0px 10px;line-height: 1.5;
					p{text-align: center;color: #fff;font-family: tahoma;font-size: 13px;}
				}
			}
			&:last-child{margin-right: 0;}
		}
	}
	.bottomsection-info{color: #fff;font-size: 20px;font-family: 'Open Sans Condensed', sans-serif;font-weight: 700;padding-bottom: 39px;
		.this{width: 21%;float: left;text-align: right;text-transform: uppercase;}
		.info{width: 78%;float: right;line-height: 1.4;
			p{letter-spacing: 0.2px;
				span{color: #f1dc5e;}
			}
		}
	}
}

/* /bottomsection */

/* aboutus */

.aboutus-section{position: relative; background-image: url(../images/paralax-last-1-img.jpg); background-repeat: no-repeat;    background-position: top ; background-attachment: fixed;
	.aboutus-title-wrap{padding: 5px 0px 5px;background-color: #D5E0E6;z-index: 1;transition:all 300ms ease; border-radius: 0px 0px 100px 0px / 0px 0px 75px 0px; height: 43px; width: calc(100%/2 - 999px/2 + 708px); cursor: pointer;
		&:hover{background-color: #FADD52;}
		a{display: block;width: 100%;height: 47px;z-index: 3; text-decoration: none; }
		a:hover{text-decoration: none;}
		.aboutus-title{word-spacing: -1px;letter-spacing: -2px;text-align: right; margin-right: 549px; font-family: 'PT Sans Narrow', sans-serif; font-size: 26px; text-transform: uppercase; color: #465460; font-weight: 100;}

	}
	&:after{ content: ""; position: absolute; top: 0 ; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 753px 90px 0; border-color: transparent #ffffff transparent transparent;}

	.aboutus-body{padding-top: 37px;position: relative;z-index: 2;padding-bottom: 8px;
		.aboutus-list{color: #fff;font-family: tahoma;font-size: 16px;font-weight: 700;word-spacing: 2px;line-height: 1.5;width: 76%;letter-spacing: 1.3px;word-spacing: 7.5px;
			.aboutus{padding-left: 31px;
				p{margin-bottom: 20px;
					&:before{display: block;content: '';position: absolute;background-image: url(../images/arrow-about.png);background-repeat: no-repeat;width: 18px;height: 52px;left: 0;}
				}
			}
		}
	}

}

/* /aboutus */

/* doneproject */

.doneproject-section{position: relative;/*margin-bottom: -66px;*/overflow: hidden;
	&:after{position: absolute;width: 101%;height: 94px;background: url('../images/doneproject_top_line.png') center center no-repeat;top: -1px;left: -10px;content: '';z-index: 1;}
	a{display: inline-block;width: 60%;height: 40px;position: absolute;right: 0;top: 45px;z-index: 3;outline: none;}
	a:hover+.doneproject-title-wrap{background-image: url(../images/project-title-hover.png);}
	.doneproject-title-wrap{width: 61%;padding: 4px;position: absolute;top: 43px;background-image: url(../images/project-title-bg.png);background-repeat: no-repeat;z-index: 2;transition:all 300ms ease;right: 0;z-index: 1;
		.doneproject-title{text-align: right;font-family: 'PT Sans Narrow', sans-serif;font-size: 26px;text-transform: uppercase;color: #465460;font-weight: 100;margin-right: 385px;}
	}
	.doneproject-body{background: url(../images/project-bg-paralacks.jpg) center center no-repeat;background-attachment: fixed;z-index: 1;padding-bottom: 115px;
		.mbox{overflow: hidden;}
		.slick-prev.slick-arrow,.slick-next.slick-arrow {outline:none;cursor:pointer;position: absolute;background-image: url(../images/arrow.png);background-repeat: no-repeat;width: 33px;height: 89px;background-color: transparent;border: 0;transform: rotate(180deg) translateY(-20%);text-indent: -9999px;left: -50px;
			&:hover{background-image: url(../images/arrow-hover.png);}
		}
		.slick-next.slick-arrow {transform: rotate(0deg) translateY(20%);right: -50px;left: inherit;top: 60%;}
		.doneproject-slider{width: 90%;margin: 0 auto;padding-top: 160px;overflow: visible;
			.doneproject{display: inline-block;outline: none;vertical-align: middle;
				.rectange{
					&:hover{
						.hover-project{opacity: 1}
					}
				}
				.text-wrap{display: inline-block;width: 53%;padding-left: 9px;
					p{display: inline-block;vertical-align: middle;color: #fff;font-family: tahoma;font-weight: 700;font-size: 12px;}
				}
			}
		}
	}
}

/* /doneproject */

/* romb */


.hover-project{z-index:12;width: 177px;height: 102.19px;background-color: #001C59;margin: 51.10px 0;position: absolute;top: -91px;transform: rotate(30deg)  scale(0.591);left: -77px;opacity: 0;transition:all 300ms ease;
	&:before,&:after{content: "";position: absolute;width: 0;border-left: 88.5px solid transparent;border-right: 88.5px solid transparent;}
	&:before{bottom: 99%;border-bottom: 51.10px solid #001C59;}
	&:after{top: 99%;width: 0;border-top: 51.10px solid #001C59;}
		p{transform:rotate(-30deg); font-family: tahoma;color: #f1dc5e;font-size: 24px;text-align: center;padding: 20px 29px 0px 24px;position: relative;z-index: 0;}
}

/* .romb */
