/* bottomsection */

.bottomsection-section{background-image: url(../images/bottomsection-bg.jpg);background-repeat: no-repeat;background-position: center;
	.top-arrow{position: relative;padding-bottom: 100px;padding-top: 26px;
		h2{font-family: 'Open Sans Condensed', sans-serif;color: #000;font-size: 21px; font-weight: 700;text-align: center;padding-left: 42px;letter-spacing: 0.5px;line-height: 1.5;
			span{color: #d92819;font-size: 25px;display: block;text-align: justify;width: 100%;padding-top: 3px;word-spacing: 11px;letter-spacing: 0;}
		}
		&:after{display: block;content: '';position: absolute;left: 0;border-left: 50vw solid transparent;border-right: 50vw solid transparent;border-top: 110px solid white;z-index: 0;top: 55px;}
		&:before{display: block;content: '';position: absolute;left: 0; height: 55px;width: 100%;background-color: #fff;top: 0;}
	}
	.bottomsection-punkts{padding-bottom: 20px;
		.bottomsection-punkt-wrap{width: calc(33.33% - 20px);float: left;background-color: rgba(200,200,200,0.5);margin-right: 30px;
			.bottomsection-punkt{text-align: center;
				.punkt-number{background-color: #FADD52;width: 30px;height: 30px; border-radius: 50%;font-size: 21px;font-family: 'Open Sans Condensed', sans-serif;font-weight: 700;color: #4B6573;position: relative;display: inline-block;top: -25px;
					&:before{width: 34px;height: 34px;position: absolute;display: block;content: '';border: 1px solid #FADD52;border-radius: 50%;transform: translate(-50%,-50%);left: 50%; top: 50%;}
				}
				.punkt-text{position: relative;top: -10px;padding: 0px 10px;line-height: 1.5;
					p{text-align: center;color: #fff;font-family: tahoma;font-size: 13px;}
				}
			}
			&:last-child{margin-right: 0;}
		}
	}
	.bottomsection-info{color: #fff;font-size: 20px;font-family: 'Open Sans Condensed', sans-serif;font-weight: 700;padding-bottom: 39px;
		.this{width: 21%;float: left;text-align: right;text-transform: uppercase;}
		.info{width: 78%;float: right;line-height: 1.4;
			p{letter-spacing: 0.2px;
				span{color: #f1dc5e;}
			}
		}
	}
}

/* /bottomsection */

/* aboutus */

.aboutus-section{position: relative;
	a{display: block;width: 100%;height: 47px;z-index: 3;position: absolute;top: 0;left: 0;}
	a:hover+.aboutus-title-wrap{background-color: #FADD52;}
	.aboutus-title-wrap{padding: 5px 0px 5px;font-family: 'PT Sans Narrow', sans-serif;font-size: 26px;text-transform: uppercase;color: #465460;font-weight: 100;position: absolute;width: 100%;top: 3px;background-color: #D5E0E6;z-index: 1;
		.aboutus-title{padding-left: 20px;word-spacing: -1px;letter-spacing: -2px;
}
	}
	.aboutus-body{background-image: url(../images/aboutus-bg.png);background-repeat: no-repeat;background-position: center;padding-top: 81px;position: relative;z-index: 2;padding-bottom: 8px;
		.aboutus-list{color: #fff;font-family: tahoma;font-size: 16px;font-weight: 700;word-spacing: 2px;line-height: 1.5;width: 76%;letter-spacing: 1.3px;word-spacing: 7.5px;
			.aboutus{padding-left: 31px;
				p{margin-bottom: 20px;
					&:before{display: block;content: '';position: absolute;background-image: url(../images/arrow-about.png);background-repeat: no-repeat;width: 18px;height: 52px;left: 0;}
				}
			}
		}
	}

}

/* /aboutus */

/* doneproject */

.doneproject-section{
	.doneproject-title-wrap{
		.doneproject-title{
			h2{}
		}
	}
	.doneproject-body{background-image: url(../images/project-bg.png);background-repeat: no-repeat;background-position: center;    min-height: 400px;
		.doneproject-slider{
			.doneproject{width: 33%;display: inline-block;
				.doneproject-img{transform: scale(0.7);display: inline-block;vertical-align: middle;width: 30%;
					.image-wrap{width: 100px;height: 173.2px;margin: 0 25px;position: relative;background-position: -50px 0;background-repeat: no-repeat;background-size: auto 120%;color: #000000;text-align: center;line-height: 173.2px;display: inline-block;
						div{
							&:first-child{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: -1;overflow: hidden;background-image: inherit;-ms-transform:rotate(60deg);-moz-transform:rotate(60deg);-webkit-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg);
								&:before{content: '';position: absolute;width: 200px;height: 100%;background-image: inherit;background-position: 0 0;background-repeat: no-repeat;background-size: auto 120%;bottom: 0;left: 0;z-index: 1;-ms-transform:rotate(-60deg) translate(-150px, 0);-moz-transform:rotate(-60deg) translate(-150px, 0);-webkit-transform:rotate(-60deg) translate(-150px, 0);-o-transform:rotate(-60deg) translate(-150px, 0);transform:rotate(-60deg) translate(-150px, 0);-ms-transform-origin: 0 0;-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;-o-transform-origin: 0 0;transform-origin: 0 0;}
							}
							&:last-child{content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: -2;overflow: hidden;background-image: inherit;-ms-transform:rotate(-60deg);-moz-transform:rotate(-60deg);-webkit-transform:rotate(-60deg);-o-transform:rotate(-60deg);transform:rotate(-60deg);
								&:before{content: '';position: absolute;width: 200px;height: 100%;background-image: inherit;background-position: 0 0;background-repeat: no-repeat;background-size: auto 120%;bottom: 0;left: 0;z-index: 1;-ms-transform:rotate(60deg) translate(100px, 86.6px);-moz-transform:rotate(60deg) translate(100px, 86.6px);-webkit-transform:rotate(60deg) translate(100px, 86.6px);-o-transform:rotate(60deg) translate(100px, 86.6px);transform:rotate(60deg) translate(100px, 86.6px);-ms-transform-origin: 100% 0;-webkit-transform-origin: 100% 0;-moz-transform-origin: 100% 0;-o-transform-origin: 100% 0;transform-origin: 100% 0;}
							}
						}
					}
				}
				.text-wrap{display: inline-block;width: 68%;padding-left: 40px;
					p{display: inline-block;vertical-align: middle;color: #fff;font-family: tahoma;font-weight: 700;font-size: 12px;}
				}
			}
		}
	}
}

/* /doneproject */